.group
  %p.highlighted
    Service partener oficial Yamaha

.group
  %p
    Diagnoză computerizată

  = link_to '', 'http://google.com', class: 'logo-texa'

.group
  %p
    Dealer

  = link_to '', 'http://ural.ro/', class: 'logo-ural', target: "_blank"

.group
  = link_to '', 'http://ural.ro/', class: 'logo-royal-enfield', target: "_blank"

.group
  %p
    Acceptăm

  = link_to '', 'http://google.com', class: 'logo-cards'

.group
  %p
    Partener la bine și la rău

  = link_to '', 'http://google.com', class: 'logo-jack'
