---
title: Moto
id: galerie
---

%header
  = partial 'partials/nav'

.carousel-center
  .flexslider
    %ul.slides
      %li{:data => {'thumb' => image_path('bkg-galerie.png')}}
        = image_tag 'bkg-servicii.png'

      %li{:data => {'thumb' => image_path('bkg-servicii.png')}}
        = image_tag 'bkg-home.png'

      %li{:data => {'thumb' => image_path('bkg-home.png')}}
        = image_tag 'bkg-contact.png'

      %li{:data => {'thumb' => image_path('bkg-contact.png')}}
        = image_tag 'bkg-barci.png'

      %li{:data => {'thumb' => image_path('bkg-barci.png')}}
        = image_tag 'bkg-galerie.png'

      %li{:data => {'thumb' => image_path('bkg-galerie.png')}}
        = image_tag 'bkg-servicii.png'

      %li{:data => {'thumb' => image_path('bkg-servicii.png')}}
        = image_tag 'bkg-home.png'

      %li{:data => {'thumb' => image_path('bkg-home.png')}}
        = image_tag 'bkg-galerie.png'
