---
title: Moto
id: piese
---

%header
  = partial 'partials/nav'

.container16
  .column11
    .content-box
      %p
        SF Moto furnizeaza  PIESE DE SCHIMB ORIGINALE pentru orice motociclete si motoare de barca. Pentru oferta comenzi piese de schimb originale va rugam sa ne contactati prin e-mail sau telefonic.
      %p
        SF Moto furnizeaza din STOC consumabile pt motociclete si ambarcatiuni (uleiuri, filtre, bujii, simeringuri, antigel, lichide frana etc.)
      %p
        SF Moto furnizeaza piese schimb si accesorii moto diverse ale firmelor MotoMike si Brands4bikes. Pentru a vizualiza produsele si preturile puteti urma link-urile alaturate. Comanda produselor se va efectua DOAR prin e-mail. Preturile afisate includ toate costurile de livrare pana la sediul nostru.

  .column5
    .content-box-logo
      .top-logo-wrapper
        = link_to 'http://www.brands4bikes.de/', target: '_blank', class: "top-logo brands4bikes" do
          = image_tag 'logo-brands4bikes.png'
        = link_to 'http://www.motomike.eu/autonet/shop/', target: '_blank', class: "top-logo motomike" do
          = image_tag 'logo-motomike.png'
      = image_tag 'logo-brands.png'
